<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      #form {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        border: 1px solid black;
        width: 400px;
        padding: 20px;
      }
    </style>
  </head>
<body>
  <div id="form">
    <form action="login.py">
      User ID<br><br>
      <input type="number" name="userid"><br><br>
      <br>
      <input type="submit" value="Login">
    </form>
  </div>
  <div id="form">
    <a href="register.html">Register</a>
  </div>
</body>
</html>
