<html>
  <head>
    <title>Register</title>
    <style type="text/css">
      #form {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 150px;
        border: 1px solid black;
        width: 400px;
        padding: 20px;
      }
    </style>
  </head>
<body>
  <div id="form">
    <form action="register.py">
      User ID<br>
      <input type="number" name="userid"><br><br>
      First Name<br>
      <input type="text" name="firstname"><br><br>
      Last Name<br>
      <input type="text" name="lastname"><br><br>
      <br>
      <input type="submit" value="Register">
    </form>
  </div>
</body>
</html>
